{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser Bridge
    @package auth_edwiserbridge
    @copyright (c) 2024 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template auth_edwiserbridge/plugin_update_notification

    Plugin update notification template

    Context variables required for this template:
    * pluginupdatenotificationtitle: Plugin update notification title
    * pluginupdatenotificationbody: Plugin update notification body
    * pluginupdatenotificationchangelog: Plugin update notification changelog
    * changelogurl: Changelog url
    * plugindownload: Plugin download
    * plugindownloadhelptext: Plugin download help text
    * downloadurl: Download url
    * pluginupdatenotificationchangelog: Plugin update notification changelog
    * plugindownload: Plugin download
    * updateurl: Update url
    * pluginupdatehelptext: Plugin update help text
    * pluginupdate: Plugin update
    * dismissurl: Dismiss url


    Example context (JSON):
    {
        "pluginupdatenotificationtitle": "value1",
        "pluginupdatenotificationbody": "value2",
        "pluginupdatenotificationchangelog": "value3",
        "changelogurl": "value4",
        "plugindownload": "value5",
        "plugindownloadhelptext": "value6",
        "downloadurl": "value7",
        "pluginupdate": "value8",
        "updateurl": "value9",
        "pluginupdatehelptext": "value10",
        "dismissurl": "value11"
        "dismissurl": "value12"
    }
}}
<div class="eb-plugin-update-notice">
    <p class="eb-plugin-update-notice-heading">
        {{ pluginupdatenotificationtitle }}
    </p>
    <p class="eb-plugin-update-notice-body">
        {{ pluginupdatenotificationbody }}
        <a class="eb-plugin-update-changelog" target="_blank" href="{{ changelogurl }}">
            {{ pluginupdatenotificationchangelog }}
        </a>
    </p>
    <p class="eb-plugin-update-action">
        <a href="{{ downloadurl }}" title="{{ plugindownloadhelptext }}">
            {{ plugindownload }}
        </a>
        <span> | </span>
        <a href="{{ updateurl }}" title="{{ pluginupdatehelptext }}">
            {{ pluginupdate }}
        </a>
    </p>
    <a class="eb-plugin-update-dismiss" href="{{ dismissurl }}">x</a>
</div>
