{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser Bridge
    @package auth_edwiserbridge
    @copyright (c) 2024 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template auth_edwiserbridge/setup_completion_popup

    Setup wizard completion popup template

    Context variables required for this template:
    * setupcompletionnote5: Setup completion note 5

    Example context (JSON):
    {
        "setupcompletionnote5": "value1",
    }
}}
<div class='eb_setup_wp_completion_success_popup' style='display: none;'>
    <div class='eb_setup_popup_content'>
        <div>
            <p><i class="fa-solid fa-circle-check eb_setup_pupup_success_icon"></i></p>
            <p class="eb-completion-succ-h">{{ setupcompletionnote5 }}</p>
        </div>
    </div>
</div>
