{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser Bridge
    @package auth_edwiserbridge
    @copyright (c) 2024 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template auth_edwiserbridge/setup_redirection_popup

    Setup wizard redirection popup template
}}
<div class='eb_setup_wp_redirection_popup' style='display: none;'>
    <div class='eb_setup_popup_content'>
        <div class='eb_setup_h2 es-p-t-20'>
            {{#str}} redirecting_to_wp_setup_wizard, auth_edwiserbridge {{/str}}
        </div>
        <div class='eb_setup_product_sync_progress_images'>
            <div class='eb_setup_users_sync_wp_img'>
                <img src="images/moodle-logo.png" />
            </div>
            <div class='eb_setup_product_sync_progress_arrows'>
                <div class="animated  animated--on-hover mt-2">
                    <span class="animated__text">
                        <i class="fa-solid fa-angle-right" style='color:#bedbe2;width:7px;'></i>
                        <i class="fa-solid fa-angle-right" style='color:#76bccc;width:7px;'></i>
                        <i class="fa-solid fa-angle-right" style='color:#5abec3;width:7px;'></i>
                        <i class="fa-solid fa-angle-right" style='color:#14979d;width:7px;'></i>
                        <i class="fa-solid fa-angle-right" style='color:#007075;width:7px;'></i>
                    </span>
                </div>
            </div>
            <div class='eb_setup_users_sync_mdl_img'>
                <img src="images/wp-logo.png" />
            </div>
        </div>
    </div>
</div>
