{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Edwiser Bridge
    @package auth_edwiserbridge
    @copyright (c) 2024 WisdmLabs (https://wisdmlabs.com/)
    @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}
{{!
    @template auth_edwiserbridge/setup_wizard_header

    Setup wizard header template

    Context variables required for this template:
    * pagetitle: Page title
    * logosrc: Logo source
    * headertitle: Header title

    Example context (JSON):
    {
        "pagetitle": "value1",
        "logosrc": "value2",
        "headertitle": "value3"
    }
}}
<!DOCTYPE html>
<html>
<head>
    <title>{{pagetitle}}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="wc-setup wp-core-ui ">
    <header class="eb-setup-wizard-header">
        <div class="eb-setup-header-logo">
            <div class="eb-setup-header-logo-img-wrap">
                <img src="{{logosrc}}" />
            </div>
        </div>
        <div class="eb-setup-header-title-wrap">
            <div class="eb-setup-header-title">{{headertitle}}</div>
            <div class='eb-setup-close-icon'> <i class="fa-solid fa-xmark"></i> </div>
        </div>
    </header>