{{!
    @template local_dashboard/select

    Recruitment selection cards.

    Context variables required for this template:
    * recruitments - Array of recruitment objects with id, name, recruitmentdate

    Example context (json):
    {
        "recruitments": [
            {"id": 1, "name": "ELE.02 - 02.2026", "recruitmentdate": "16 February 2026"}
        ]
    }
}}
<div class="local-dashboard-select">
    <div class="row">
        {{#recruitments}}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
            <a href="{{{url}}}" class="card h-100 text-decoration-none">
                <div class="card-body text-center">
                    <i class="fa-solid fa-graduation-cap fa-2x mb-3 text-primary"></i>
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text text-muted small">{{recruitmentdate}}</p>
                </div>
            </a>
        </div>
        {{/recruitments}}
    </div>
</div>
